body {
  text-align: center;
  color: #000000b5;
  font-family: system-ui, -apple-system;
  background: linear-gradient(313.18deg, #ece7e1.28%, #b3f0ff 97.04%);
}

body,
div {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  flex-direction: column;
  width: 50%;
  height: 50%;
  text-align: center;
}

h1 {
  font-size: 58px;

}

h2 {
  font-size: 32px;
}

nav {
  width: 50%;
}

ul {
  padding: 0;
  text-align: center;
  list-style: none;
}

li {
  margin: 30px 0;
}

p {
  margin: 20px 0 10px;
  color: #000000ae;
  font-weight: bold;
  font-size: 17px;
  border: 1px dashed rgb(27, 35, 37);
  background: linear-gradient(313.18deg, #8db1f5.28%, #4490d8 97.04%);
  border-radius: 10px 10px 15px 15px;
}

a {
  padding: 5px 25px;
  color: #ffffff;
  background-color: rgba(99, 165, 252, 0.886);
  border: none;
  border-radius: 5px;
  font-family: system-ui, -apple-system;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  background-color: #104ef8e2;
}