body{
    margin: 200px 300px;
}
.green{
    color: rgb(2, 90, 2);
    font-weight: bold;
}
.red{
    color: red;
}
.link-2{
    text-decoration: overline underline; 
    color: black;
}
.big{
    font-size: 40px;
}
.blue{
    color: blue;
}
.medium{
    font-size: 20px;
    font-weight: bold;
}